<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.olliego.community.mapper.QuestionExtMapper">
  <resultMap id="BaseResultMap" type="com.olliego.community.model.Question">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="gmt_create" jdbcType="BIGINT" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="BIGINT" property="gmtModified" />
    <result column="creator" jdbcType="BIGINT" property="creator" />
    <result column="comment_count" jdbcType="BIGINT" property="commentCount" />
    <result column="view_count" jdbcType="BIGINT" property="viewCount" />
    <result column="like_count" jdbcType="BIGINT" property="likeCount" />
    <result column="tag" jdbcType="VARCHAR" property="tag" />
  </resultMap>

  <update id="incView" parameterType="com.olliego.community.model.Question">
    update question
    set view_count = view_count + #{viewCount,jdbcType=BIGINT}
    where id = #{id}
  </update>

  <update id="incCommentCount" parameterType="com.olliego.community.model.Question">
    update QUESTION
    set
      COMMENT_COUNT = COMMENT_COUNT + #{commentCount,jdbcType=BIGINT}
    where id = #{id}
  </update>

  <select id="selectRelated" parameterType="com.olliego.community.model.Question" resultMap="BaseResultMap">
    select * from QUESTION
    <where>
      <if test="id != null">
        and id != #{id}
      </if>
      <if test="tag != null and tag != ''">
        and tag regexp #{tag}
      </if>
    </where>
    order by gmt_create desc limit 20
  </select>

</mapper>